#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;


  /* CSS variables */
  --dark-blue: #07131e;
  --aqua: #53EFE9;
  --white: white;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --italic: italic;
}

/* CSS for body */
body {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0;
 height: 100%;
}



/* CSS for Header.jsx */
header {
  font-family: var(--cambria);
  color: var(--aqua);
  background-color: var(--dark-blue);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
 position: relative;
 
  width: 100%;


}

.header h2 {
  display: inline-block;
  font-size: 30px;
  font-style: var(--italic);
  color: var(--aqua);
}

.header nav {
  padding-top: 15px;
  margin-right: 90px;
  float: right;
  font-family: var(--cambria);
  font-size: 17px;

}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}



.photo {
  width: 200px;

}

.nav-link a {
  color: var(--aqua);
}

.nav-link a:hover {
  color: var(--aqua);
}

/* CSS for Projects*/
.project-card {
  width: 300px;
  padding: 15px;
  border: 1px solid var(--aqua);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px var(--aqua);
  position: relative;
  background-color: var();
}

.project-title {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: var(--dark-blue);
  text-decoration: none;
  font-family: var(--cambria);
}

.project-title:hover {
  color: var(--aqua);
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.repo-link {
  position: absolute;
  top: 30px;
  right: 15px;
  color: var(--dark-blue);
  text-decoration: none;
}

.repo-link:hover {
  color: var(--aqua);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CSS for Resume */
.resume {
  width: auto;
  background-color: var(--dark-blue);
  color: var(--aqua);
  font: var(--cambria);
  text-align: left;
  margin-left: 50px;
  min-width: 320px;

}

/* CSS for Footer.jsx */
footer {
  background-color: var(--aqua);

}

.container ul li a {
  color: var(--dark-blue);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}