#root {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  /* CSS variables */
  --dark-blue: #07131e;
  --aqua: #53EFE9;
  --white: white;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --italic: italic;
}

/* CSS for body */
html,
body {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0;
  height: 100%;
}

/* CSS for Header.jsx */
header {
  font-family: var(--cambria);
  color: var(--aqua);
  background-color: var(--dark-blue);
  padding: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.header h2 {
  display: inline-block;
  font-size: 30px;
  font-style: var(--italic);
  color: var(--aqua);
}

.header nav {
  padding-top: 15px;
  margin-right: 0;
  float: right;
  font-family: var(--cambria);
  font-size: 17px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

.photo {
  width: 200px;
}

.nav-link a {
  color: var(--aqua);
}

.nav-link a:hover {
  color: var(--white);
}

/* CSS for About me page */
.aboutme {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
  color: var(--aqua);
  font-family: var(--cambria);
}

/* CSS for Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  flex-grow: 1;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
}

/* CSS for Projects*/
.project-card {
  width: 300px;
  padding: 15px;
  border: 1px solid var(--aqua);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px var(--aqua);
  position: relative;
  background-color: var(--dark-blue);
  color: var(--aqua);
}

.project-title {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.5em;
  color: var(--aqua);
  text-decoration: none;
  font-family: var(--cambria);
  text-align: left;
}

.project-title:hover {
  color: var(--white);
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.repo-link {
  position: absolute;
  top: 40px;
  right: 15px;
  color: var(--aqua);
  text-decoration: none;
  margin-right: 0;
}

.repo-link:hover {
  color: var(--white);
}

/* CSS for Contact */
.contact-page {
  background-color: var(--dark-blue);
  color: var(--aqua);
  text-align: left;
  margin-left: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  font-family: var(--cambria);
}

/* CSS for Resume */
.resume {
  width: auto;
  background-color: var(--dark-blue);
  color: var(--aqua);
  text-align: left;
  margin-left: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 137px);
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  font-family: var(--cambria);
}

/* CSS for Footer.jsx */
footer {
  background-color: var(--aqua);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  position: fixed;
  bottom: 0;
}

.container ul li a {
  color: var(--dark-blue);
 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}