#root {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  /* CSS variables */
  --dark-blue: #07131e;
  --aqua: #53EFE9;
  --white: white;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --italic: italic;
}

/* CSS for body */
html,
body {
  background-color: var(--dark-blue);
  margin: 0;
  padding: 0;
  height: 100%;
}

/* CSS for Header.jsx */
header {
  font-family: var(--cambria);
  color: var(--aqua);
  background-color: var(--dark-blue);
  padding: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.header h2 {
  display: inline-block;
  font-size: 30px;
  font-style: var(--italic);
  color: var(--aqua); 
}

.header nav {
  padding-top: 15px;
  margin-right: 0;
  float: right;
  font-family: var(--cambria);
  font-size: 22px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 40px;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

.photo {
  width: 200px;
}

.nav-link a {
  color: var(--aqua);
}

.nav-link a:hover {
  color: var(--white);
}

/* CSS for About me page */
.aboutme {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
  color: var(--aqua);
  font-family: var(--cambria);
  min-height: calc(100vh - 137px);
}

.titleAboutme {
  font-size: 30px;
  margin-left: 130px;
  font-style: var(--italic);
}

.aboutme-content {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 160px;
  font-size: 18px;
}

.photo {
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 6px 10px var(--aqua);
  margin-right: 100px;
}

/* CSS for Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  flex-grow: 1;
  justify-content: center;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
}

/* CSS for Projects*/
.project-card {
  width: 325px;
  height: 250px;
  padding: 15px;
  border: 1px solid var(--aqua);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px var(--aqua);
  position: relative;
  background-color: var(--dark-blue);
  color: var(--aqua);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.project-title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
  color: var(--aqua);
  text-decoration: none;
  font-family: var(--cambria);
  text-align: left;
}

.project-title:hover {
  color: var(--white);
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.repo-link {
  position: absolute;
  top: 27px;
  right: 15px;
  color: var(--aqua);
  text-decoration: none;
  margin-right: 0;
}

.repo-link:hover {
  color: var(--white);
}

/* CSS for Contact */
.contact-page {
  background-color: var(--dark-blue);
  color: var(--aqua);
  text-align: left;
  margin-left: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 137px);
  flex-grow: 1;
  border: 1px solid var(--aqua);
  font-family: var(--cambria);
  font-size: 18px;
}

.contactTitle {
  font-size: 30px;
  margin-left: 30px;
  font-style: var(--italic);
}

.form-group {
  margin-left: 30px;
}

.field {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
  color: var(--aqua);
  font-family: var(--cambria);
  font-size: 18px;
  box-shadow: 0 4px 8px var(--aqua);
}

.fieldMessage {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--aqua);
  background-color: var(--dark-blue);
  color: var(--aqua);
  font-family: var(--cambria);
  font-size: 18px;
  box-shadow: 0 4px 8px var(--aqua);
}

.submitButton {
  margin-left: 30px;
  margin-top: 15px;
  background-color: var(--aqua);
  color: var(--dark-blue);
  font-family: var(--cambria);
  font-size: 18px;
  width: 300px;
  height: 40px;
}

.submitButton:hover {
  color: var(--white);
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form .error {
  margin-left: 10px;
}

/* CSS for Resume */
.resume {
  width: auto;
  background-color: var(--dark-blue);
  color: var(--aqua);
  text-align: left;
  margin-left: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 137px);
  flex-grow: 1;
  border: 1px solid var(--aqua);
  font-family: var(--cambria);
}

.titleResume {
  font-size: 30px;
  margin-left: 30px;
  font-style: var(--italic);
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 30px;
}

.skills {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skills.back-end,
.skills.soft-skills {
  align-items: flex-start;
}

.divider {
  width: 2px;
  background-color: var(--aqua);
  height: 100%;
  position: absolute;
}

.skills-container .divider:nth-child(2) {
  left: 33.33%;
  transform: translateX(-50%);
}

.skills-container .divider:nth-child(4) {
  left: 66.66%;
  transform: translateX(-50%);
}

.headerSkills {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}
/*.skills {
  font-size: 18px;
  margin-left: 30px;
}*/

/* CSS for Footer.jsx */
footer {
  background-color: var(--aqua);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  position: fixed;
  bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.container ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.container ul li a {
  color: var(--dark-blue);
}

.container ul li a:hover {
  color: var(--white);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}